<html lang="ja"><head><meta charset="utf-8"></head>
  <body>
    <h1>おすすめグルメ</h1>

    {% if user.is_authenticated %}
    <p>こんにちわ！ {{ user.username }}!</p>
    <a href="{% url 'logout' %}">logout</a>
    {% else %}
    <p>詳しく見たい方は以下をクリックしてログインしてください。</p>
    <p><a href="{% url 'login' %}">login</a></p>
    {% endif %}

    <hr>
    <div>おすすめグルメ1</div>
    <p><a href="{% url 'priv1' %}">詳しくはここをクリック</a></p>

    <hr>
    <div>おすすめグルメ2</div>
    <p><a href="{% url 'priv2' %}">詳しくはここをクリック</a></p>
    
    <hr>
    <div>おすすめグルメ3</div>
    <p><a href="{% url 'priv3' %}">詳しくはここをクリック</a></p>

    <!--<p><a href="{% url 'pub' %}">public</a></p>-->
</body>
</html>