<html lang="ja"><head><meta charset="utf-8"></head>
  <body>
    <div>ログインするためには以下を入力してください</div>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Login" />
    </form>

    <p><a href="{% url 'home' %}">home</a></p>

    <style>

      form {
        font-weight: 700;
      }
      #padding {
        margin-top: 200px;
      }
      body {
        text-align: center; 
      }

      div {
        font-weight: 700;
      }

      body{
        background-image:url("../img/haikei.png");
        background-size: contain;
        margin: 0;   /*←marginを０にすることで、メニューにできる空白をなくせる*/

        border-right: 8px solid #f87a9e;
        border-left: 8px solid #f87a9e;
      }
    </style>

  </body>
</html>